extends layout

block content
  h1 #{title}: #{faculty.name}
  
  
  if faculty_students.length
  
    p #[strong Delete the following students before attempting to delete this faculty.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Students
    
      dl
      each student in faculty_students
        dt 
          a(href=student.url) #{student.faculty}
        dd #{student.name}

  else
    p Do you really want to delete this Faculty?
    
    form(method='POST' action='')
      div.form-group
        input#facultyid.form-control(type='hidden',name='facultyid', required='true', value=faculty._id )

      button.btn.btn-primary(type='submit') Delete