extends layout

block content
  h1 #{title}: #{student.first_name}
  | #{student.last_name}
  
  p #[strong student:] 
    a(href=student.url) 
     p #[strong level:]#{student.level}
  p #[strong department:] #{student.department}
  p #[strong faculty:] #{student.faculty}

  
  div(style='margin-left:20px;margin-top:20px')

 
   hr
  p
    a(href=student.url+'/delete') Delete Student
 
