extends layout

block content
  h1= title
  
  ul
    each student in student_list
      li 
        | #[strong Name] #{student.name}

        | #[strong level:] #{student.level.level}, 
        | #[strong department:]#{student.department.name}, 
        | #[strong faculty:] #{student.faculty.name} 
        
      p
        a(href=student.url+'/delete') Delete Student

    else
      li There are no students.


